.cart {
    border-bottom: 1px solid rgb(113, 0, 128);
    padding-bottom: 1rem;
    font-size: 14px;
    list-style: none;
  }
  
  .amount {
    font-weight: bold;
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-evenly;
  }
  
  .button {
    text-align: right;
  }
  .span-button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(149, 42, 182);
    /* display: block; */
    padding: 0.2rem 0.5rem;
    /* justify-content: space-around; */
    background-color: transparent;
    font-size: 15px;
  }
  .span-button:hover {
    background-color: rgb(131, 42, 182);
    border-color: rgb(77, 11, 121);
    color: white;
  }
  .name {
    font-weight: bold;
    font-size: medium;
  }
  .price {
    color: rgb(53, 3, 82);
    display: flex;
    justify-content: space-between;
  }
  .button button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(107, 42, 182);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-left: 1rem;
  }
  
  .button button:hover,
  .button button:active {
    background-color: rgb(103, 42, 182);
    border-color: rgb(86, 11, 121);
    color: white;
  }
  .desc{
      font-style: italic;
  }
  
  .quantity {
    display: flex;
    justify-content: space-around;
  }
  